:root {
  --active-link: #0ba5e9;
  --gradient-text: radial-gradient(circle, rgba(11,165,233,1) 0%, rgba(252,70,107,1) 100%);;
  --body-color: #10172a;
  --card-color: #1e293b;
  --text-white: #fff;
}

.single__nft__card {
  padding: 20px;
  background: var(--card-color);
  border-radius: 10px;
}

.nft__img img {
  border-radius: 10px;
}

.nft__img {
  margin-bottom: 15px;
}

.nft__title {
  margin-bottom: 15px;
}

.nft__title a {
  color: var(--text-white);
  font-size: 1rem;
  text-decoration: none;
}

.nft__title a:hover {
  color: var(--text-white);
}

.creator__img {
  width: 40px;
  height: 40px;
}

.creator__info h6 {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.772);

  margin-bottom: 0;
  font-weight: 300;
}

.creator__info p {
  font-size: 0.9rem;
  color: var(--text-white);

  margin-bottom: 0;
  font-weight: 500;
}

.bid__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  border: 1px solid var(--active-link);
  font-size: 0.9rem;
  color: var(--text-white);
  border-radius: 50px;
  transition: 0.3s;
  background: var(--active-link);
}

.bid__btn:hover {
  background: var(--card-color);
  color: var(--text-white);
}

.history__link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.772);

  font-size: 0.9rem;
}

.history__link a:hover {
  color: var(--text-white);
}

.live__auction__top h3 {
  color: var(--text-white);
}

.live__auction__top span a {
  text-decoration: none;
  color: var(--text-white);
  border-bottom: 1px solid var(--active-link);
}
